
.item-overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 45%;
  height: 35%;
  background-color: black;
  justify-content: end;
  align-items: center;
  border-radius: 10px;
  text-wrap: wrap;
}


.item-content {
  text-align: start;
  color: white;
  padding: 20px;
  
}


.club-sec {
  margin-top: 80px;
}


.containers {
  display: flex;
  width: 120px;
  height: 120px;
  /* padding: 50px 0; */
  border-radius: 8px;
  background: #fff;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}
.circular-progress::before {
  content: '';
  position: absolute;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  background-color: #fff;
}
.circular-progress {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 300.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background: conic-gradient(#e82a2a 300.6deg, #ededed 0deg);
}
.green {
  background: conic-gradient(#00a20b 300.6deg, #ededed 0deg);
}
.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #010101;
}
.text {
  font-size: 30px;
  font-weight: 500;
  color: #606060;
}

.card1 {
  border: none;
  position: relative;
  padding: 0%;
  flex: 0 0 calc(50% - 10px);
}
.card1:last-child{
  flex: 100%;
}

.card1::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.5);
}



.card1-img-overlay {
  margin-top: 100px;
  position: absolute;
  transform: translate(10%, 20%);
  color: white;
  text-wrap: wrap;
}
.card3-img-overlay{
  position: absolute;
  color: white;
  transform: translate(10%, 150%);
  text-wrap: wrap;
}
.star{
  color: orange;
}


.pkard {
    flex-basis: calc(50% - 10px); /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
    margin-bottom: 20px;
    }

.accordion-item {
      border: none;
    }

    hr{
      padding: 0;
      margin: 0;
    }
.accordion-button::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
}

.font-style{
  font-weight: bold;

}
.div1{
background-color: #BCED6D;
opacity: 30%;
  width: 100%;
  height: 25vh;
  padding: 10px;
  border-radius: 10px;
}
.div3{
background-color: #FDDD5F;
opacity: 30%;
  width: 100%;
  height: 25vh;
  padding: 10px;
  border-radius: 10px;
}
.phone{
  color: #81B823;
}
.div2{
  position: absolute;
  left: 20%;
  top: 15%;
}
.div4{
   position: absolute;
  bottom: 38%;
  left: 20%;
}
.email{
  color: #ffcd06;
  width: 30%;
}
.emails{
  font-family: fantasy;
}
.number{
  font-family:fantasy;
}
.div4{
   position: absolute;
  bottom: 38%;
  left: 20%;
}
.div5{
background-color: #FDDD5F;
opacity: 30%;
  width: 100%;
  height: 25vh;
  padding: 10px;
  border-radius: 10px;
}
.div6{
   position: absolute;
  bottom: 8%;
  left: 20%;
}
.location{
   color: green;
}
.set {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 167, 167,10%);
    height: 150px;
    border-radius: 10px;
  }
  li{
    text-align: left;
    list-style: none;

  }

  footer{
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

@media only screen and (max-width: 600px) {
  .card1 {
    flex: 100%;
    margin-bottom: 20px;
  }
  .cards {
    padding: 10px;
  }

  .card1-img-overlay {
    position: absolute;
    transform: translate(10%, -7%);
    color: white;
  }
  .card3-img-overlay {
    position: absolute;
    transform: translate(10%, 50%);
    color: white;
  }
.card-img1 {
  width: 100%;
  height: 280px;
}
.pkard{
  flex: 100%;
 
}
.pkard0{
  padding: 10px;
}

  .product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .left-img img {
    width: 100%;
    height: 300px;
  }

  .right-content {
    text-align: left;
  }

  .icon {
    justify-content: left;
  }

  .price {
    justify-content: left;
  }
  .form-edit{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  footer .text-s {
    text-align: center;
  }
    footer .col-6,
  footer .col-lg-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .col-lg-2, .col-12{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }


 .div1, .div3, .div5 {
    width: 100%;
    background-color: #ff9800; /* Adjust color as needed */
    height: 150px; /* Adjust height as needed for small screens */
    margin-bottom: 30px;
  }
  .div6{
    position: absolute;
  bottom: 15%;
  left: 20%;
  }
}
